.navigation {
    background: #3c6e71;
    display: flex;
    font-family: 'calibri', sans-serif;
    width: 100%;
    height: 25px;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
.navigation a {
    text-decoration: none;
    color: #d9d9d9;
    font-size: 1rem;
    margin: 10px;
    line-height: 3;
    text-align: center;
}