.navigation {
    background: #284b63;
    display: flex;
    font-family: 'Calibri', sans-serif;
    justify-content: flex-end;
    width: 100%;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    width: 100%;
}
.navigation a {
    text-decoration: none;
    color: #d9d9d9;
    font-size: 1.2rem;
    margin: 10px;
    line-height: 3;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .navigation {
        justify-content: center;
    }
    .navigation ul {
        justify-content: center;
        align-items: center;
    }
    .navigation a {
        margin: 5px;
    }
}