.navigation {
    display: flex;
    font-family: 'calibri', sans-serif;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 100%;
}

.navigation li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation a {
    text-decoration: none;
    color: #d9d9d9;
    font-size: 1.1rem;
    margin: 10px;
    line-height: 3;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .navigation {
        height: 30px;
    }

    .navigation a{
        font-size: 1rem;
    }
}